<ion-header>

  <ion-navbar>
    <ion-title>{{ special.food_type }} at {{special.venue}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <img [src]="special.imgur_url">

  <div class="item-detail" padding>
    <p *ngIf="special.food_description">{{special.food_description}}</p>
    <p *ngIf="special.price">{{special.price}}+</p>
    <p *ngIf="special.time_start">{{special.time_start}} till {{ special.time_end}} </p>
    <p *ngIf="special.students_only">STUDENTS ONLY</p>

  </div>
</ion-content>
