<ion-header>

  <ion-navbar>

    <ion-title>{{special.venue}} {{special.food_type}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-fab right bottom>
  <button ion-fab color="light" (click)="this.shareText()"><ion-icon name="share"></ion-icon></button>
</ion-fab>

<ion-content>

  <div class="item-detail">


    <ion-list>

      <ion-item *ngIf="special.food_description">
        <ion-icon name="restaurant" item-start></ion-icon>
        {{special.food_description}}
      </ion-item>

      <ion-item *ngIf="special.discount_type">
        <ion-icon name="notifications" item-start></ion-icon>
        {{special.discount_type}}
      </ion-item>

      <ion-item *ngIf="special.price">
        <ion-icon name="pricetag" item-start></ion-icon>
        R{{special.price}}{{special.price_max ? ' - ' + special.price_max : ''}}
      </ion-item>

      <!-- deprecating -->
      <!--ion-item *ngIf="special.time_start_hour || special.time_start_hour">
        <ion-icon name="time" item-start></ion-icon>
        {{special.time_start_hour + 'h'}}{{special.time_start_minute ? special.time_start_minute : ''}}
        till
        {{special.time_end_hour + 'h'}}{{special.time_end_minute ? special.time_end_minute : ''}}
      </ion-item-->


      <ion-item *ngIf="special.minute_start || special.minute_end">
        <ion-icon name="time" item-start></ion-icon>
        {{this.getTimeAsText(special.minute_start, special.minute_end)}}
      </ion-item>

      <ion-item *ngIf="special.day_num != special.day_end_num">
        <ion-icon name="calendar" item-start></ion-icon>
        {{this.convertToDay(special.day_num)}}
        till
        {{this.convertToDay(special.day_end_num)}}
      </ion-item>

      <ion-item *ngIf="special.students_only">
        <ion-icon name="card" item-start></ion-icon>
        STUDENTS ONLY
      </ion-item>

    </ion-list>
    <img *ngIf="special.img_url" [src]="special.img_url" style="width:100%;">

  </div>


</ion-content>
