


<ion-header>

  <ion-navbar>
    <button ion-button menuToggle="left"><ion-icon name="menu"></ion-icon></button>

    <ion-title>Specials</ion-title>

    <!--ion-buttons end>
      <button ion-button icon-only (click)="addItem()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons-->


    <button end ion-button menuToggle="right" ><ion-icon name="options"></ion-icon></button>



  </ion-navbar>

</ion-header>



<!-- RIGHT SIDE FILTER MENU -->
<ion-menu [content]="content" side="right" id="menu2">
  <ion-header>
    <ion-toolbar>
      <ion-title>Filter</ion-title>
      <button end ion-button menuToggle="right" ><ion-icon name="close"></ion-icon></button>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item>
        <ion-label>Day</ion-label>
        <ion-select #daySelect (ionChange)="selectedDayChanged(daySelect.value)">
          <ion-option value="1">Monday</ion-option>
          <ion-option value="2">Tuesday</ion-option>
          <ion-option value="3">Wednesday</ion-option>
          <ion-option value="4">Thursday</ion-option>
          <ion-option value="5">Friday</ion-option>
          <ion-option value="6">Saturday</ion-option>
          <ion-option value="0">Sunday</ion-option>
        </ion-select>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-menu>

<ion-content #content>


  <!--ion-list>
    <ion-item-sliding *ngFor="let item of currentItems">
      <button ion-item (click)="openItem(item)">
        <ion-avatar item-start>
          <img [src]="item.profilePic" />
        </ion-avatar>
        <h2 *ngIf="item.name != null">{{item.name}}</h2>
        <p>{{item.about}}</p>

        <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
      </button>

      <ion-item-options>
        <button ion-button color="danger" (click)="deleteItem(item)">
          {{ 'DELETE_BUTTON' | translate }}
        </button>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list-->

  <!--div class="pins">
    <div class="pin">
      asdflasdfj asd dafdasd
      asdflasdfj asd dafdasd
      asdflasdfj asd dafdasd
      asdflasdfj asd dafdasd
      asdflasdfj asd dafdasd
      asdflasdfj asd dafdasd
      asdflasdfj asd dafdasd
    </div>
    <div class="pin">
      asdflasdfj asd dafdasd
    </div>
    <div class="pin">
      asdflasdfj asd dafdasd
    </div>
    <div class="pin">
      asdflasdfj asd dafdasd
    </div>
    <div class="pin">
      asdflasdfj asd dafdasd
    </div>
    <div class="pin">
      asdflasdfj asd dafdasd
    </div>
    <div class="pin">
      asdflasdfj asd dafdasd
    </div>
  </div-->


    <ion-card *ngFor="let special of currentSpecials" (click)="openItem(special)">
      <div *ngIf="special.imgur_url" class="img-overflow-hider">
        <img [src]="special.imgur_url"/>
        <div class="overlay"></div>
      </div>
      <ion-card-content>
        <ion-card-title>
          {{special.discount_type ? special.discount_type : special.price}} {{special.food_type}} at {{special.venue}}
        </ion-card-title>
      </ion-card-content>
    </ion-card>



</ion-content>
