


<ion-header>

  <ion-navbar>
    <button ion-button menuToggle="left"><ion-icon name="menu"></ion-icon></button>

    <ion-title id="pageTitle">Today's Specials</ion-title>

    <!--ion-buttons end>
      <button ion-button icon-only (click)="addItem()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons-->


    <button end ion-button menuToggle="right" ><ion-icon name="options"></ion-icon></button>



  </ion-navbar>

</ion-header>



<!-- RIGHT SIDE FILTER MENU -->
<ion-menu [content]="content" side="right" id="menu2">
  <ion-header>
    <ion-toolbar>
      <ion-title>Filter</ion-title>
      <button end ion-button menuToggle="right" ><ion-icon name="close"></ion-icon></button>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item>
        <ion-label>Day</ion-label>
        <ion-select #daySelect (ionChange)="selectedDayChanged(daySelect.value)">
          <ion-option value="1">Monday</ion-option>
          <ion-option value="2">Tuesday</ion-option>
          <ion-option value="3">Wednesday</ion-option>
          <ion-option value="4">Thursday</ion-option>
          <ion-option value="5">Friday</ion-option>
          <ion-option value="6">Saturday</ion-option>
          <ion-option value="0">Sunday</ion-option>
        </ion-select>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-menu>



<ion-content #content class="bg-light">


    <ion-card *ngFor="let special of currentSpecials" (click)="openSpecial(special)" style="position:relative;">

      <!-- todo: round edges. maybe define a polygon -->
      <div *ngIf="special.price" class="price-tag">
        <div class="price-tag-triangle"></div>
        <div class="price-tag-circle"></div>
        R {{special.price}}{{special.price_max ? '+' : ''}}
      </div>

      <div *ngIf="special.img_url" class="img-overflow-hider">
        <img [src]="special.img_url"/>
        <div class="overlay"></div>
      </div>

      <ion-card-content *ngIf="special.price && !special.img_url; else else_ion_card" style="padding-right: 65px;">
          {{special.discount_type ?
            special.discount_type + ' ' + special.food_description.toLowerCase() :
             special.food_description }}
          at {{special.venue}}
      </ion-card-content>

      <ng-template #else_ion_card>
        <ion-card-content>
          {{special.discount_type ?
          special.discount_type + ' ' + special.food_description.toLowerCase() :
          special.food_description }}
          at {{special.venue}}
        </ion-card-content>
      </ng-template>


    </ion-card>

  <!-- quick & dirty -->
  <ng-container *ngIf="currentSpecials.length == 0">
    <ion-card>

      <ion-card-header class="center-text">
        <ion-spinner></ion-spinner>
        <br>
        Fetching Specials
      </ion-card-header>


    </ion-card>
  </ng-container>




</ion-content>
