<ion-header>

  <ion-navbar>
    <ion-title>Today's Specials</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="addItem()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>


  <!--ion-list>
    <ion-item-sliding *ngFor="let item of currentItems">
      <button ion-item (click)="openItem(item)">
        <ion-avatar item-start>
          <img [src]="item.profilePic" />
        </ion-avatar>
        <h2 *ngIf="item.name != null">{{item.name}}</h2>
        <p>{{item.about}}</p>

        <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
      </button>

      <ion-item-options>
        <button ion-button color="danger" (click)="deleteItem(item)">
          {{ 'DELETE_BUTTON' | translate }}
        </button>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list-->

  <!--div class="pins">
    <div class="pin">
      asdflasdfj asd dafdasd
      asdflasdfj asd dafdasd
      asdflasdfj asd dafdasd
      asdflasdfj asd dafdasd
      asdflasdfj asd dafdasd
      asdflasdfj asd dafdasd
      asdflasdfj asd dafdasd
    </div>
    <div class="pin">
      asdflasdfj asd dafdasd
    </div>
    <div class="pin">
      asdflasdfj asd dafdasd
    </div>
    <div class="pin">
      asdflasdfj asd dafdasd
    </div>
    <div class="pin">
      asdflasdfj asd dafdasd
    </div>
    <div class="pin">
      asdflasdfj asd dafdasd
    </div>
    <div class="pin">
      asdflasdfj asd dafdasd
    </div>
  </div-->

    <ion-card *ngFor="let special of currentSpecials" (click)="openItem(special)">
      <img *ngIf="special.imgur_url" [src]="special.imgur_url"/>
      <ion-card-content>
        <ion-card-title>
          <span *ngIf="special.discount_type">{{special.discount_type}} </span>{{special.food_type}} at {{special.venue}}
        </ion-card-title>
        <p>
          {{special.description}}
        </p>
      </ion-card-content>
    </ion-card>



</ion-content>
